{% extends 'base/base.html' %}

{% block title %}Мої задачі{% endblock %}

{% block content %}
<div class="flex justify-between items-center mb-6">
    <h2 class="text-2xl font-bold">Мої задачі</h2>
    <div class="flex items-center space-x-4">
        <a href="{% url 'add_task' %}" class="bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded shadow">
            + Додати задачу
        </a>
        <a href="{% url 'collection_list' %}" class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded shadow">
            Колекції
        </a>
    </div>
</div>

{% if tasks %}
    <ul class="space-y-4">
        {% for task in tasks %}
           <li class="bg-white p-4 rounded shadow-md">
            <div class="flex justify-between items-center">
                <div>
                    <h3 class="text-lg font-semibold">{{ task.title }}</h3>
                    {% if task.deadline %}
                        <p class="text-gray-600 text-sm">Дедлайн: {{ task.deadline }}</p>
                    {% endif %}
                    {% if task.collection %}
                        <p class="text-gray-600 text-sm">Колекція: {{ task.collection.name }}</p>
                    {% endif %}
                </div>
                <div class="flex gap-4 items-center">
                    <a href="{% url 'edit_task' task.id %}" class="text-blue-500 hover:underline">Редагувати</a>
                    <form method="post" action="{% url 'delete_task' task.id %}">
                        {% csrf_token %}
                        <button type="submit" class="text-red-500 hover:underline">Видалити</button>
                    </form>
                </div>
            </div>
        </li>

        {% endfor %}
    </ul>
{% else %}
    <p class="text-gray-600">Задач поки немає. Додайте нову!</p>
{% endif %}
{% endblock %}
